.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente */
    padding: 20px;
    height: 70px;
    width: 440px;
    position: relative; /* Agregar posición relativa para el posicionamiento absoluto del botón */
}

.headerText {
    font-size: 64px;
    margin: 0;
    text-align: start; /* Centrar el texto horizontalmente */
    flex: 1; /* Ocupar el espacio disponible para empujar el botón hacia la derecha */
}

.headerButton {
    background-color: transparent;
    border: none;
    color: #fff;
    top: 0;
    right: 0;
    cursor: pointer;
}

.headerButton:hover{
    transform: scale(1.2);
}

@media (max-width: 550px) {
    .header {
        width: 350px;
    }
}

@media (max-width: 425px) {
    .header {
        width: 330px;
    }
    .headerText {
        font-size: 40px;
    }
}

@media (max-width: 350px) {
    .header {
        width: 290px;
    }
}