.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente */
    padding: 20px;
    height: 70px;
    width: 100%;
    position: relative; /* Agregar posición relativa para el posicionamiento absoluto del botón */
}

.headerText {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    text-align: center; /* Centrar el texto horizontalmente */
    flex: 1; /* Ocupar el espacio disponible para empujar el botón hacia la derecha */
}

.headerButton {
    background-color: transparent;
    border: none;
    color: #fff;
    top: 0;
    right: 0;
}
