/* Resetear los márgenes predeterminados del body */
body {
    margin: 0;
}

/* Estilos para el contenedor de los enlaces en el footer */
.footerLinksContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

/* Estilos para los enlaces en el footer */
.footerLinks {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.footerLinks:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Estilos para el enlace de compartir en el footer */
.footerShareLink {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.footerShareLink .footerShare {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.footerShareLink .footerShare:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.footerShareText {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-right: 10px;
}

.toast {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    opacity: 0;
    animation: fadeInOut 0.3s ease-in-out;
    z-index: 1;
}
.toast.show {
    opacity: 1;
    display: block;
}