<div class="footerLinksContainer">
    <a target="_blank" href="https://github.com/DiegoRojasGonzalez"><img class="footerLinks" src="assets/github.svg" alt="Github Link"></a>
    <a target="_blank" href="https://www.linkedin.com/in/diegoignaciorojasgonzalez"><img class="footerLinks" src="assets/linkedin.svg" alt="Linkedin Link"></a>
    <div class="footerShareLink" (click)="copyUrlToClipboard()">
      <p class="footerShareText">share your tasks!</p>
      <img class="footerShare" src="assets/share.svg" alt="Share Link">
    </div>
  </div>
<div #toast class="toast"></div>
