.task-list {
  padding: 16px;
  width: 440px;
}

.task-content:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.task-content {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  height: auto;
  border-radius: 4px;
  position: relative;
}

.task-label {
  font-size: 20px;
  flex-grow: 1;
  max-width: calc(100% - 70px);
  overflow: hidden;
  word-wrap: break-word;
  padding-left: 8px;
}

.task-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(1.5);
  margin-right: 10px;
}

.remove-button {
  display: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  background-color: transparent;
  border-radius: 100%;
  transform: scale(1.5);
  color: #3524608a;
}

.task-item:hover .remove-button {
  opacity: 1;
}

.task-content:hover .remove-button {
  display: block;
}
.remove-button:hover ~ .task-content .task-label,
.remove-button:hover ~ .task-content.completed .task-label {
  text-decoration: line-through;
  transition: text-decoration 0.3s ease-in-out;
}

.completed {
  text-decoration: line-through;
  color: #8d8d8d;
}

@media (max-width: 550px) {
  .remove-button {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
}

@media (max-width: 550px) {
  .content {
    width: 400px;
  }

  .task-list {
    width: 350px;
  }

  .task-label {
    font-size: 16px;
  }

  .task-checkbox {
    transform: scale(1.2);
  }

  .remove-button {
    display: block;
    transform: scale(1.2);
  }

  .task-item {
    margin-bottom: 4px;
  }
}

@media (max-width: 425px) {
  .content {
    width: 330px;
  }

  .task-list {
    width: 330px;
  }

}

@media (max-width: 350px) {
  .content {
    width: 300px;
  }
  .task-list {
    width: 290px;
  }
}
  

